@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #333;
}

.login {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  z-index: 5;
}
.login .logo {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}
.login .logo img:hover {
  cursor: pointer;
}
.login .close-btn {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 40px;
  border: 0;
}
.login .close-btn button {
  background: transparent;
  border: 0;
}
.login .close-btn button i {
  font-size: 40px;
  color: #fff;
  transition: all ease 0.5s;
}
.login .close-btn button i:hover {
  cursor: pointer;
  transform: rotate(90deg);
  color: #00b4ff;
}
.login .login-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height: 475px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.login .login-box .login-title {
  position: relative;
  top: 22px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: #fff;
  color: #7f7f7f;
  text-align: center;
  font-family: "Naum Gothic", sans-serif;
}
.login .login-box .login-title h2 {
  line-height: 50px;
  font-size: 22px;
  font-weight: 700;
}
.login .login-box .login-title h2 b {
  font-size: 28px;
  color: #2f5597;
}
.login .login-box .login-title p {
  line-height: 25px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
}
.login .login-box .login-con {
  position: relative;
  margin-top: 70px;
  width: 100%;
  background: #fff;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  line-height: 350px;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}
.login .login-box .login-con .login-input {
  position: relative;
  width: 100%;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}
.login .login-box .login-con .login-input input {
  width: 380px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  outline: none;
  background: #fff;
}
.login .login-box .login-con .login-btn {
  position: relative;
  width: 100%;
  height: 50px;
  top: -90px;
}
.login .login-box .login-con .login-btn button {
  width: 380px;
  height: 40px;
  background: #2f5597;
  border-radius: 5px;
  color: #fff;
  font: 16px "Nanum Gothic", sans-serif;
  border: 0px;
}
.login .login-box .login-con .login-btn button:hover {
  cursor: pointer;
}
.login .login-box .login-con .login-find-link {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 65px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.login .login-box .login-con .login-find-link a {
  color: #2f5597;
  text-decoration: none;
  font-size: 12px;
  color: #000;
  transition: 0.2s;
}
.login .login-box .login-con .login-find-link a:nth-of-type(1) {
  margin-right: 10px;
}
.login .login-box .login-con .login-find-link a:nth-of-type(2) {
  margin-left: 10px;
  margin-right: 10px;
}
.login .login-box .login-con .login-find-link a:nth-of-type(3) {
  margin-left: 10px;
}
.login .login-box .login-con .login-find-link a:hover {
  text-decoration: none;
  color: #2f5597;
  text-shadow: 0px 0px 1px skyblue;
}
.login .login-box .login-con .login-sns {
  position: relative;
  width: 81%;
  height: 50px;
  margin: 0px auto;
}
.login .login-box .login-con .login-sns .kakao-btn {
  position: absolute;
  width: 380px;
  height: 40px;
  top: 0px;
  left: 0px;
}
.login .login-box .login-con .login-sns .kakao-btn button {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  background: #fee500;
  border-radius: 5px;
  color: #fff;
  font: 16px "Nanum Gothic", sans-serif;
  border: 0px;
  background-image: url("../img/kakao_login_medium.png");
  background-repeat: no-repeat;
  background-position: center;
}
.login .login-box .login-con .login-sns .kakao-btn button:hover {
  cursor: pointer;
}
.login .login-box .login-con .login-sns .naver-btn {
  position: absolute;
  width: 380px;
  height: 40px;
  top: 48px;
}
.login .login-box .login-con .login-sns .naver-btn button {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  background: #03c75a;
  border-radius: 5px;
  color: #fff;
  font: 16px "Nanum Gothic", sans-serif;
  border: 0px;
  background-image: url("../img/naver_login.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32%;
}
.login .login-box .login-con .login-sns .naver-btn button:hover {
  cursor: pointer;
}

body {
  font: 12px/1.5 "Nanum Gothic", sans-serif;
  font-weight: 400;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
}
main nav {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0px;
  z-index: 3;
  background: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
main nav img {
  position: relative;
  left: 0px;
  top: 10px;
  transform: scale(0.8);
}
main nav .sch {
  display: block;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 auto;
  translate: -50%;
}
main nav .sch input {
  width: 300px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 12px;
  color: #888;
  background: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
main nav .sch input:focus {
  outline: none;
  box-shadow: 0px 0px 5px skyblue;
}
main nav .sch button {
  position: absolute;
  top: 6px;
  right: 7px;
  font-size: 14px;
  padding: 1px 2px;
  background: transparent;
  border: 0px;
}
main nav .sch .search-list {
  display: none;
  position: absolute;
  top: 30px;
  left: 204px;
  width: 300px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 3;
}
main nav .sch .search-list a {
  color: #2f5597;
}
main nav .sch .search-list a li {
  width: 100%;
  padding: 10px 10px;
  font-size: 12px;
  border-bottom: 1px solid #ececec;
  cursor: pointer;
}
main nav .sch .search-list a li:hover {
  background: #f5f5f5;
}
main nav .sch #sch-opt {
  width: 100px;
  height: 30px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
}
main nav .sch #sch-opt:focus {
  outline: none;
  box-shadow: 0px 0px 5px skyblue;
}
main nav .sch #addr-opt-detail {
  width: 100px;
  height: 30px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
main nav .sch #addr-opt-detail:focus {
  outline: none;
  box-shadow: 0px 0px 5px skyblue;
}
main nav .sch #dist-opt-detail {
  display: none;
  width: 100px;
  height: 30px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
main nav .sch #dist-opt-detail:focus {
  outline: none;
  box-shadow: 0px 0px 5px skyblue;
}
main nav .right {
  position: absolute;
  height: 50px;
  top: 0px;
  right: 0px;
  font-size: 16px;
}
main nav .right span {
  overflow: hidden;
}
main nav .right span b a {
  color: #2f5597;
  font-weight: bold;
  transition: 0.5;
  overflow: hidden;
}
main nav .right span b a::after {
  content: "";
  clear: both;
  float: left;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 7px;
  left: 0px;
  background: #2f5597;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
main nav .right span b a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
main nav .right img {
  position: relative;
  left: -5px;
}
main aside {
  position: fixed;
  width: 50px;
  height: 100%;
  left: 0px;
  z-index: 2;
  background: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
main aside ul li a img {
  position: relative;
  top: 55px;
  left: 0px;
  border-radius: 5px;
  padding: 5px;
  transform: scale(0.8);
  transition: 0.3s;
}
main aside ul li a:hover img {
  transform: scale(0.85);
  box-shadow: 0px 0px 5px skyblue;
}
main aside .help {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  padding: 5px;
}
main aside .help a {
  position: relative;
  top: 8px;
}
main aside .help a i {
  padding: 0px;
  font-size: 25px;
  transition: 0.2s;
  background: transparent;
}
main aside .help a:hover i {
  color: skyblue;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #551a8b;
}
main .zone-pop {
  position: absolute;
  width: 600px;
  height: 790px;
  top: 105px;
  right: 30px;
  background: #fff;
  border-radius: 2px;
  border: 2px solid #4379d5;
  z-index: 3;
}
main .zone-pop .tab-ui {
  position: absolute;
  width: 60px;
  height: 738px;
  top: 50px;
  left: -65px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}
main .zone-pop .tab-ui ul {
  padding: 5px;
  margin-top: 10px;
}
main .zone-pop .tab-ui ul li {
  padding: 5px;
  margin-top: 10px;
  border-bottom: 1px solid #2f5597;
}
main .zone-pop .tab-ui ul li a {
  position: relative;
  color: #2f5597;
  transition: 0.3s;
}
main .zone-pop .tab-ui ul li a:hover {
  color: #4379d5;
  text-decoration: none;
}
main .zone-pop .tab-ui ul li a i {
  font-size: 34px;
}
main .zone-pop .tab-ui ul li a p {
  font-size: 12px;
  font-weight: bold;
}
main .zone-pop .tab-ui ul li a span {
  position: relative;
  top: -40px;
  left: 27px;
}
main .zone-pop .tab-ui ul li a span i {
  font-size: 16px;
  transform: rotate(-90deg);
}
main .zone-pop .tab-ui ul li:nth-of-type(2), main .zone-pop .tab-ui ul li:nth-of-type(3), main .zone-pop .tab-ui ul li:nth-of-type(4) {
  border-bottom: none;
}
main .zone-pop .tab-ui ul li:nth-of-type(2) a > p, main .zone-pop .tab-ui ul li:nth-of-type(2) span, main .zone-pop .tab-ui ul li:nth-of-type(3) a > p, main .zone-pop .tab-ui ul li:nth-of-type(3) span, main .zone-pop .tab-ui ul li:nth-of-type(4) a > p, main .zone-pop .tab-ui ul li:nth-of-type(4) span {
  display: none;
}
main .zone-pop .title {
  position: relative;
  width: 100%;
  height: 50px;
  background: #4379d5;
}
main .zone-pop .title h2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
main .zone-pop .title button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: 0.5s;
}
main .zone-pop .title button:hover {
  transform: rotate(90deg);
}
main .zone-pop .con {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}
main .zone-pop .con .sec1 {
  padding: 10px;
  border: 1px solid #ccc;
}
main .zone-pop .con .sec1 h3 {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  padding: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
main .zone-pop .con .sec1 p {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 13px;
  color: #000;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 15px;
}
main .zone-pop .con .sec1 p a {
  color: #4379d5;
}
main .zone-pop .con .sec2 {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
main .zone-pop .con .sec2 h3 {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  padding: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
main .zone-pop .con .sec2 .con {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 13px;
  color: #000;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 15px;
}
main .zone-pop .con .sec2 .con table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
}
main .zone-pop .con .sec2 .con table tr th {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background: skyblue;
}
main .zone-pop .con .sec2 .con table tr th::after {
  content: "";
  position: relative;
  top: 0px;
  left: 33%;
  width: 1px;
  height: 100%;
  border-right: 1px solid #fff;
}
main .zone-pop .con .sec2 .con table tr th:nth-of-type(4)::after {
  display: none;
}
main .zone-pop .con .sec2 .con table tr td {
  width: 50%;
  height: 40px;
  text-align: center;
  font-size: 13px;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
}
main .zone-pop .con .sec2 .con .pg {
  text-align: center;
  padding: 10px;
}
main .map-con {
  width: 100%;
  height: 100%;
}
main .map-con .title {
  position: relative;
  width: 100%;
  height: 50px;
  top: 0px;
  left: 0px;
  background: #2f5597;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
main .map-con .title h1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  z-index: 1;
}
main .map-con .title .setup-menu {
  position: absolute;
  right: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background: transparent;
  border: none;
  transition: 0.5s;
  z-index: 1;
}
main .map-con .title .setup-menu ul li a {
  color: #fff;
  transition: 0.2s;
}
main .map-con .title .setup-menu ul li a:hover {
  color: skyblue;
  text-shadow: 0px 0px 5px #000;
  text-decoration: none;
}
main .map-con .map-mode {
  position: absolute;
  top: auto;
  bottom: 10px;
  left: 50%;
  translate: -50%;
  height: 30px;
  border: 1px solid #4379d5;
  border-radius: 5px;
  background: #4379d5;
  color: #fff;
  z-index: 1;
}
main .map-con .map-mode ul {
  position: relative;
  top: 5px;
  display: flex;
  flex-direction: row;
}
main .map-con .map-mode ul li {
  font-size: 14px;
  padding: 0 10px;
}
main .map-con .map-mode ul li a {
  color: #fff;
}
main .map-con .map-mode ul li a:hover {
  cursor: pointer;
  text-decoration: none;
}
main .map-con .map-mode ul li:active {
  background: rgb(0, 183, 255);
  border-radius: 3px;
}
main .map-con #vwmap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
main .map-con #vwmap .vw-notice {
  display: none;
}
main .map-con #vwmap .vw-scale-line {
  left: 60px;
}
main .map-con #vwmap .vw-logo {
  left: 60px;
}
main .map-con #vwmap .vw-toolbar {
  top: 0px;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
