@charset "UTF-8";
// [ Variables ]

// [ Import ]
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


$active-color: skyblue; //135,206,235;
$hover-color: skyblue; //135,206,235
$focus-color: skyblue; //135,206,235
$shadow-color: rgb(0,0,0);
$a-color:#2f5597;

@import "login";

body {
    font: 12px/1.5 'Nanum Gothic', sans-serif;
    font-weight: 400;
}


main {
    width: 100%;
    height: 100%;
    position: absolute;

    nav {
        position: fixed;
        width: 100%;
        height: 50px;
        top: 0px;
        z-index: 3;
        //border: 1px solid red;
        background: #fff;
        box-shadow: 10px 10px 30px rgba($shadow-color,0.1);

        // 로고
        img {
            position: relative;
            left: 0px;
            top: 10px;
            transform: scale(0.8);
        }

        .sch {
            display: block;
            position: absolute;
            top: 10px;
            left: 50%;
            //left: 100px;
            margin: 0 auto;
            translate: -50%;
            
            //width: 100%;
            //text-align: center;
            // search input css
            input {                
                width: 300px;
                height: 30px;
                
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 0px 10px;
                font-size: 12px;
                color: #888;
                background: #fff;
                box-shadow: 0px 0px 3px rgba($shadow-color,0.3);

                &:focus {
                    //outline: 1px solid skyblue;
                    outline: none;
                    box-shadow: 0px 0px 5px rgba($focus-color,1);
                }
            }

            button {
                position: absolute;
                top: 6px;
                right: 7px;
                font-size: 14px;
                padding: 1px 2px;
                background: transparent;
                border: 0px;
            }

            // 검색 리스트
            .search-list {
                display: none;
                position: absolute;
                top: 30px;
                left: 204px;
                width: 300px;
                //height: 100px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-shadow: 0px 0px 5px rgba($shadow-color,0.1);
                overflow: hidden;
                //overflow-y: scroll;
                z-index: 3;

                a {
                    color: $a-color;

                    li {
                        width: 100%;
                        //height: 40px;
                        //line-height: 20px;
                        padding: 10px 10px;
                        font-size: 12px;
                        border-bottom: 1px solid #ececec;
                        cursor: pointer;
    
                        &:hover {
                            background: #f5f5f5;
                        }
                    }
                }
                
            }

            // 검색옵션 1
            #sch-opt {
                // position: absolute;
                // top: 30px;
                // left: 0px;
                width: 100px;
                height: 30px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-shadow: 0px 0px 5px rgba($shadow-color,0.1);
                padding: 5px;

                // 포커스시
                &:focus {
                    outline: none;
                    box-shadow: 0px 0px 5px rgba($focus-color,1);
                }
            }

            // 검색옵션 2 : 주소검색 상세옵션
            #addr-opt-detail {
                // position: absolute;
                // top: 30px;
                // left: 0px;
                //display: none;
                width: 100px;
                height: 30px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-shadow: 0px 0px 5px rgba($shadow-color,0.1);

                // 포커스시
                &:focus {
                    outline: none;
                    box-shadow: 0px 0px 5px rgba($focus-color,1);
                }
            }

            // 검색옵션 3 : 행정구역 상세옵션
            #dist-opt-detail {
                // position: absolute;
                // top: 30px;
                // left: 0px;
                display: none;
                width: 100px;
                height: 30px;
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-shadow: 0px 0px 5px rgba($shadow-color,0.1);

                // 포커스시
                &:focus {
                    outline: none;
                    box-shadow: 0px 0px 5px rgba($focus-color,1);
                }
            }
        }

        .right {
            position: absolute;
            height: 50px;
            top: 0px;
            right: 0px;
            font-size: 16px;
            //letter-spacing: 1.5px;

            // 로그인 유저 및 메세지
            span {
                overflow: hidden;

                b {
                    
                    a {
                        color: #2f5597;
                        font-weight: bold;
                        transition: 0.5;
                        overflow: hidden;
                        //border: 1px solid red;

                        &::after {
                            content: '';
                            clear: both;
                            float: left;
                            position: absolute;                            
                            width: 100%;
                            height: 2px;
                            bottom: 7px;
                            left: 0px;
                            background: #2f5597;
                            visibility: hidden;
                            transform: scaleX(0);
                            transition: all 0.3s ease-in-out;
                        }
        
                        &:hover {
                            //text-decoration: underline;
        
                            &::after {
                                visibility: visible;
                                transform: scaleX(1);
                            }
                        }   
                    }
                }

                
            }

            img {
                position: relative;
                //top: -25px;
                left: -5px;
            }
        }
    }

    
    
    aside {
        position: fixed;
        width: 50px;
        height: 100%;
        left: 0px;
        z-index: 2;
        //border: 1px solid red;
        background: #fff;
        box-shadow: 10px 10px 30px rgba($shadow-color,0.1);

        ul {

            li {
                a {

                    img {
                        position: relative;
                        top: 55px;
                        left: 0px;
                        border-radius: 5px;
                        padding: 5px;
                        transform: scale(0.8);
                        transition: 0.3s;
                    }
        
                    &:hover {
                        img {
                            transform: scale(0.85);
                            box-shadow: 0px 0px 5px rgba($hover-color,1);
                            //border: 1px solid $hover-color;
                        }
                    }
                }
            }
        }

        .help {
            width: 100%;
            height: 50px;
            position: absolute;
            bottom: 0px;
            text-align: center;
            padding: 5px;

            a {
                position: relative;
                top: 8px;

                i {
                    padding: 0px;
                    font-size: 25px;
                    transition: 0.2s;
                    background: transparent;
                }

                &:hover {
                    i {
                        color: $hover-color;
                        border-radius: 20px;
                        box-shadow: 0px 0px 5px rgba(#551a8b, 1);
                    }
                }
            }
        }
        
    }

    .con {
        width: 100%;
        height: 100%;
        
        // 헤더 타이틀
        .title {
            position: relative;
            width: 100%;
            height: 50px;
            top:0px;
            left:50px;
            //float: right;
            //border: 1px solid red;
            background: #2f5597;
            box-shadow: 0px 0px 5px rgba($shadow-color,0.1);
            z-index: 1;

            h1 {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                color: #fff;
                z-index: 1;
                //border: 1px solid red;
            }
        }
        #vwmap {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left:0px;
            z-index: 0;
        }
    }
}